<head>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
</head><body>
	  <div class="navbar navbar-default navbar-fixed-top" style="background: #4E5279; border: none;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="javascript:void(0)" id="logo">EDUYA</a>
	    </div>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href='#'>My Courses</a></li>
	        <li><a href='#'>My Listings</a></li>
	        <li><a href='{% url "view_tutors" %}'>Tutors</a></li>
	        <li><a href=''>Posts</a></li>
	        <li><a href='{% url "all_courses" %}'>All Courses</a></li>
	        <li><a href='#'>All Professors</a></li>
	        <li><a href='{% url "logout" %}'>Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="vert-center">
    <div class="card" style="width: 40%; border: 0;">
        <div class="card-heading" style="padding-top: 50px; background-color: #F6A623; border: none;">
            <!-- <div class="image-cropper" style="float: right;">
              <img src="http://media.salon.com/2012/11/knope_campaign_rect.jpg"  />
            </div> -->
          <h3 style="font-family: 'Raleway', sans-serif;">{{ post.course }} | {{ post.subject }}</h3>
        </div>
        <div class="card-content">
        	<p>Student: {{ post.student }}</p>
        	<p>Price: ${{ post.price }}</p>
        	<p>Loction: {{ post.location }}</p>
        	<p>Notes: {{ post.notes }}</p>
        </div>
    </div>
  </div>

</body>