<head>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
</head><body>
	  <div class="navbar navbar-default navbar-fixed-top" style="background: #4E5279; border: none;">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href='{% url "my_profile" %}' id="logo">EDUYA</a>
	    </div>
	    <div class="navbar-collapse collapse navbar-responsive-collapse">
	      <ul class="nav navbar-nav">
	        <li><a href='{% url "my_courses" %}' style="color: white;">My Courses</a></li>
	        <li><a href='#' style="color: white;">My Listings</a></li>
	        <li><a href='{% url "view_tutors" %}' style="color: white;">Tutors</a></li>
	        <li><a href='{% url "posts" %}' style="color: white;">Posts</a></li>
	        <li><a href='{% url "all_subjects" %}' style="color: white;">All Subjects</a></li>
	        <li><a href='{% url "professors" %}' style="color: white;">All Professors</a></li>
	        <li><a href='{% url "logout" %}' style="color: white;">Logout</a></li>
	      </ul>
	    </div>
	  </div>
	</div>

	<div class="container">
	<button style="margin-bottom: 15px;">
		<a href="/posts/new/" style="color: #fff;">Create a new post</a>
	</button>

	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="postTime" value="postTime">Most Recent</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="postTimeBack" value="postTimeBack">Least Recent</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="moneyUp" value="moneyUp">Lowest Paying</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="moneyDown" value="moneyDown">Highest Paying</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="nameUp" value="nameUp">Name A-Z</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="nameDown" value="nameDown">Name Z-A</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="courseUp" value="courseUp">Course A-Z</button>
	</form>
	<form action="" method="post" style="display: inline;">
	    {% csrf_token %}
	    <button name="courseDown" value="courseDown">Course Z-A</button>
	</form>

	<div class="row">
		{% for post in posts %}
		<div class="col-sm-4 card">
			<div class="card-heading" style="background-color: #6BB31C"><a href="/posts/{{ post.pk }}/">Subject: {{ post.subject }}</a></div>
			<div class="card-content"> 
				<p>Student: {{ post.student.first_name }} {{ post.student.last_name }}</p>
				<p>Course: {{ post.course }}</p>
				<p>Price: ${{ post.price }}</p>
				<p>Location: {{ post.location }}</p>
				<!-- <p>Additional Notes: {{ post.notes }}</p> -->
			</div>
		</div>
		{% endfor %}
	</div>
</div>
</body>

