<!DOCTYPE HTML>

<head>
  <title>eduya</title>
  <meta charset="utf-8" />



  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" rel="stylesheet"> -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>

<body>
  <div class="vert-center">
    <div class="pane">
      <h2>Looking for a Tutor?</h2>
      <form class="form-group" action="/posts/new/" method="post">
        {% csrf_token %}
        <p>Please fill out the required fields to post for tutors to find you!</p>
        <input style="color:black" type="text" name="subject" placeholder="subject *" required="" />
        <input style="color:black" type="text" name="course" placeholder="course *" required="" />
        <input style="color:black" type="text" name="price" placeholder="price *" required="" />
        <input style="color:black" type="text" name="location" placeholder="location" required="" />

        <ul class="checkbox-gridlayout" style="-webkit-padding-start: 0px;width:100%;">
        <!-- <div class="button-line"> -->
        <p class="days-title">Days available</p>
          <li style="display:inline"><input type="checkbox" id ="Monday" /><label for="text1" style="color:rgba(120, 120, 120, 1);">M</label></li>
          <li style="display:inline"><input type="checkbox" id="Tuesday" /><label for="text2" style="color:rgba(120, 120, 120, 1);">Tu</label></li>
          <li style="display:inline"><input type="checkbox" id="Wednesday" /><label for="text3" style="color:rgba(120, 120, 120, 1);">W</label></li>
          <li style="display:inline"><input type="checkbox" id="Thursday" /><label for="text4" style="color:rgba(120, 120, 120, 1);">Th</label></li>
          <li style="display:inline"><input type="checkbox" id="Friday" /><label for="text5" style="color:rgba(120, 120, 120, 1);">F</label></li>
          <li style="display:inline"><input type="checkbox" id="Saturday" /><label for="text6" style="color:rgba(120, 120, 120, 1);">Sa</label></li>
          <li style="display:inline"><input type="checkbox" id="Sunday" /><label for="text7" style="color:rgba(120, 120, 120, 1);">Su</label></li>
          <!-- </div> -->
        </ul>
        <!-- </div> -->
        
        <textarea  name="notes" id="notes" cols="100" placeholder="Comments" style="width:100%; height:100px; color:black;"></textarea>
        <input type="submit" value="Create post looking for tutor" />
      </form>

      <h4>* is a required field</h4>
    </div>
  </div>
</body>