<!DOCTYPE HTML>
<head>
  <title>eduya</title>
  <script type="text/javascript">
    function val() {
      if(frm.confirmpassword.value != frm.password.value)
      {
        frm.confirmpassword.setCustomValidity('Passwords do not match.');
        return false;
      }
      frm.confirmpassword.setCustomValidity('');
      return true;
    }
  </script>
  <meta charset="utf-8" />
  
  
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" rel="stylesheet"> -->
</head>
<body>
  <div class="vert-center">
    <div class="pane">
      <h2>Edit Profile</h2>
      <form name="frm" action="/profile/edit/" method="POST">
		    {% csrf_token %}
		    {{ form.errors }}
		    {{ form.non_field_errors }}
		    {{ form.title.errors }}
		    {{ form.title }}
        <div >
          <p style="margin-top: 0px; margin-bottom: 10px;">Profile Picture</p>
          <!-- <div>
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRTy1GtPiIUg6rC2orWkc9B8O2Ho7SV0lejlHNZ8sWNvWQUWRax" class="rounded" />
            <div> -->
            <!--<input type="file" accept="images"/>-->
            <!-- </div>
          </div> -->
        </div>
        <div class="right-column">
          <!--<input type="email" name="email" placeholder="Your Email"/>-->
          <br></br>
          <input style="color:black" type="text" name="first_name" placeholder="First name" pattern="[A-Za-z]+" oninvalid="this.setCustomValidity('Please enter a valid first name')" oninput="setCustomValidity('')"/>
          <input style="color:black" type="text" name="last_name" placeholder="Last name" pattern="[A-Za-z]+" oninvalid="this.setCustomValidity('Please enter a valid last name')" oninput="setCustomValidity('')" />
          <!--<input type="password" name="password" placeholder="Password" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" oninvalid="this.setCustomValidity('Please enter an 8+ character password containing an uppercase, lowercase and number or special character')"-->
          <!--oninput="setCustomValidity('')" />-->
          <!--<input type="password" name="confirmpassword" placeholder="Confirm Password"  oninvalid="this.setCustomValidity('Passwords do not match')"-->
          <!--oninput="setCustomValidity('')"/>-->
        </div>
        <div class="bottom-row">
          <input type="submit" value="Update Profile" id="submit" onclick="val();" style="color: #A0A0A0;" />
          <!-- <input type="file" accept="images" /> -->
        </div>
      </form>
    </div>
  </div>
</body>