<!DOCTYPE HTML>
<head>
	<title>eduya</title>
    <meta charset="utf-8" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
</head>
<body>
    <div class="vert-center">
    	<div class="pane">
            <h2>Forgot your password?</h2>
            <form name="frm"  action="/reset/" method="POST">
                {% csrf_token %}
                <p>Enter the email associated with your account and we will send you a link to reset it:</p><br>
                <input type="text" name="email"><br>
                <input type="submit">
            </form>
    	</div>
    </div>
</body>