<!DOCTYPE HTML>
<head>
  <title>eduya</title>
  <meta charset="utf-8" />

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'students.css' %}" />

  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript">
    $(".stars").each(function() {
      var num_stars = $(this).data('stars');
      var rating = (num_stars / 5)*100;
      $(this).css("background-image", "linear-gradient( to right, gold, gold "+rating+"%, transparent "+rating+"%, transparent)")
    });

    $(".money").each(function() {
      var num_dollar = $(this).data('money');
      var rating = (num_dollar / 3)*100;
      $(this).css("background-image", "linear-gradient( to right, green, green "+rating+"%, transparent "+rating+"%, transparent)")
    });
  </script>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top" style="background: #4E5279; border: none; height: 52px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" id="logo">EDUYA</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href='{% url "my_courses" %}' style="color: white;">My Courses</a></li>
	        <li><a href='#' style="color: white;">My Listings</a></li>
	        <li><a href='{% url "view_tutors" %}' style="color: white;">Tutors</a></li>
	        <li><a href='{% url "posts" %}' style="color: white;">Posts</a></li>
	        <li><a href='{% url "all_subjects" %}' style="color: white;">All Subjects</a></li>
	        <li><a href='#' style="color: white;">All Professors</a></li>
          <li><a href='{% url "logout" %}' style="color: white;">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="vert-center">
    <div class="panel panel-primary" style="width: 60%; border: 0;">
        <div class="panel-heading" style="padding-top: 50px; background-color: #D53C4F; border: none;">
            <!-- <div class="image-cropper" style="float: right;">
              <img src="http://media.salon.com/2012/11/knope_campaign_rect.jpg"  />
            </div> -->

          <div style="float: right; width: 20%;">
            <a href="/tutors/{{ tutor.studentLink.pk }}/review/{{ tutor.studentLink.pk }}" id="review-button">REVIEW THIS TUTOR</a>
          </div>

          <h3 style="font-family: 'Raleway', sans-serif;">{{ tutor.studentLink.first_name }}  {{ tutor.studentLink.last_name }}</h3>
        </div>
        <div class="panel-body">
          <div style="float: left; width: 50%;">
            <!-- <p> Rating: <span class="star">&starf;</span> <span class="star">&starf;</span> <span class="star">&starf;</span> <span class="star">&starf;</span> <span class="star">&starf;</span></p> -->
            <!-- <p>Rating: <span class="stars" data-stars="{{ tutor.skillRating }}">★★★★★</span></p>-->
            <!--<p style="font:black"> Price: <span class="money" data-stars="{{ tutor.moneyRating }}">$$$</p>-->
            {% load humanize %}
            <p>Rating: {{ tutor.skillRating|floatformat }}</p>
            <p> Price: {{ tutor.moneyRating|floatformat }}</p>
            <!-- <p> Location: Pawnee, IN</p> -->
            <p> Tutors in: {% for course in courses %}<a style="visiblility:visible; color:black" href="/subjects/{{ course.course.subject.abbreviation }}/courses/{{ course.course.number }}/">{{ course.course }},</a> {% endfor %}</p>
          
            <!-- <div>
              <a href="javascript:void(0)" class="btn btn-raised btn-default" style="background:  #B0B0B0">POL237</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-default" style="background:  #B0B0B0">Government</a>
              <a href="javascript:void(0)" class="btn btn-raised btn-default" style="background:  #B0B0B0">ENV102</a>
            </div> -->
          </div>
          <div style="float: left; width: 50%;"> 
            <h4 id="review-header">Reviews</h4>
            {% for review in reviews %}
              <p style="margin:0 0 2.5px">Skills Rating: {{ review.skillRating }} Price Rating: {{ review.moneyRating }}</p>
              <p style="margin:0 0 2.5px; font-style: italic;">{{ review.notes }}</p>
              <p style="margin:0 0 10px">- {{ review.reviewer_name }}</p>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</body>

