<!DOCTYPE HTML>
<head>
  <title>eduya</title>
  <meta charset="utf-8" />

  

  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" rel="stylesheet"> -->
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
  <div class="vert-center">
    <div class="pane">
      <h2 style="margin-bottom:2.5vh">My Profile</h2>
      <div style="float: left; width: 30%;">
        <div class="image-cropper">
            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRTy1GtPiIUg6rC2orWkc9B8O2Ho7SV0lejlHNZ8sWNvWQUWRax" />
            </div>
      </div>
      <div style="float: right; width: 50%;">
        <p><span style="font-weight:900">Name:</span> {{ user.first_name }} {{user.last_name }}</p>
        <p><span style="font-weight:900">Email:</span> {{ user.email }}</p>
        <input type="button" onclick="location.href='/profile/edit/';" value="Edit My Profile" /><br/>
        <input type="button" onclick="location.href='';" value="View Tutor Profile" />
      </div>
    </div>
  </div>
</body>