body {
	
    background: url("pattern.png");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    /*padding: 15px 10px 15px;*/
  	height: 100%;
}

#logo {
	font-family: 'Julius Sans One', sans-serif;
	color: white;
}

.navbar-default .navbar-nav>li>a {
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
}