body {
	
    background: url("pattern.png");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 15px 10px 15px;
  	height: 100%;
}

#banner {
  border-style: solid;
  width: 100%;
  position: relative;
  display: flex;
  padding-top: 10%;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  border-color: black;
}

#banner h2 {
  vertical-align: bottom;
  color: rgba(40, 26, 91, .8);
  font-family: 'Raleway', sans-serif;
  position: relative;
}

h1 {
	color: rgba(20, 26, 91, .8);
  font-family: 'Raleway', sans-serif;
}

h2 {
	color: rgba(20, 26, 91, .8);
	font-family: 'Raleway', sans-serif;
}

h3 {
color: rgba(20, 26, 91, .8);
font-family: 'Raleway', sans-serif;
margin-top: 2.5px;
}

#review-header {
  color: #303030;
  font-family: 'Raleway', sans-serif;
  margin-top: 2.5px;
}

p {
	font-family: 'Raleway', sans-serif;
}

.vert-center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.pane {
  padding: 2% 5%;
  margin: auto;
  width: 50%;
  overflow: hidden;
  background-color: #fff;
  opacity: .8;
  text-align: center;
  box-shadow: 10px 10px 50px #303030;
  overflow:visible;
}

.pane p {
	font-family: 'Raleway', sans-serif;
	color: 	#505050;	
}

.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    flex-shrink: 1;
}

img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#star {
	font-family: 'Raleway', sans-serif;
	font-size: 125%;
	color: #303030;
}



