<!DOCTYPE HTML>
<head>
  <title>eduya</title>
  <meta charset="utf-8" />
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'courses.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" style="background: #4E5279; border: none; height: 52px;">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)" id="logo">EDUYA</a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li><a href='{% url "my_courses" %}' style="color: white;">My Courses</a></li>
          <li><a href='{% url "view_tutors" %}' style="color: white;">Tutors</a></li>
          <li><a href='{% url "posts" %}' style="color: white;">Posts</a></li>
          <li><a href='{% url "all_subjects" %}' style="color: white;">All Subjects</a></li>
          <li><a href='{% url "professors" %}' style="color: white;">All Professors</a></li>
          <li><a href='{% url "logout" %}' style="color: white;">Logout</a></li>
        </ul>
      </div>
    </div>

  <div class="vert-center">
    <div class="card" style="width: 80%; border: 0; margin-top: -250px;">
        <div class="card-heading" style="padding-top: 40px; background-color: #D28AB2">
          <h3 style="font-family: 'Raleway', sans-serif;">{{course.subject.abbreviation }}{{ course.number }}: {{ course.title }}</h3>
        </div>
        <div class="card-content" style="background-color: white; height: 260%; overflow: auto;">
          <div style="float: left; width: 50%; height: 100%;">
            <h3 style="padding:0 0 10px 0; font-family: 'Raleway';"> Course Sections </h3>
              <table>
                  <tr>
                      <th style="padding:0 15px 0 15px;">CRN</th>
                      <th style="padding:0 15px 0 15px;">Type</th>
                      <th style="padding:0 15px 0 15px;">Meetings</th>
                  </tr>
                  {% for section in course_sections %}
                  <tr>
                      <td style="padding:0 15px 5px 15px;">{{ section.crn }}</td>
                      <td style="padding:0 15px 5px 15px;">{{ section.section_type }}</td>
                      <td style="padding:0 15px 5px 15px;">{{ section.meetings.DaysOfWeek }} at {{ section.meetings.Location }}</td>
                  </tr>
                  {% endfor %}
              </table>
              <div style="border: 10px; margin-top: 20px;" >
                <a style="background: #999; padding: 10px; color: white; font-family: 'Raleway';" href="/subjects/{{ course.subject.abbreviation }}/courses/{{ course.number }}/add_course_to_student/">Add {{ course.subject.abbreviation }}{{ course.number }} to My Courses</a>
              </div>
              <div style="border: 10px; margin-top: 20px;" >
                <a style="background: #999; padding: 10px; color: white; font-family: 'Raleway';" href="/subjects/{{ course.subject.abbreviation }}/courses/{{ course.number }}/add_course_to_student/">Remove {{ course.subject.abbreviation }}{{ course.number }} from My Courses</a>
              </div>
          </div>
          <div style="float: left; width: 50%;">
            <h3 id="review-header" style="padding:0 0 0 0; font-family: 'Raleway';">Resources</h3>
            <h5 style="padding: 5px 0 0 0; font-family: 'Raleway';">Tutors</h5>
              <table>
                  <tr>
                      <th style="padding:0 15px 0 15px;">Name</th>
                      <th style="padding:0 15px 0 15px;">Page</th>
                  </tr>
                  {% for tutor in tutors %}
                  <tr>
                      <td style="padding:0 15px 5px 15px;">{{ tutor.tutor.studentLink.first_name }} {{ tutor.tutor.studentLink.last_name }}</td>
                      <td style="padding:0 15px 5px 15px;"><a href="/tutors/{{ tutor.tutor.studentLink.pk }}/">Link</a></td>
                  </tr>
                  {% endfor %}
              </table>
              <div style="border: 10px; margin-top: 10px; margin-bottom: 10px;">
                <a style="padding:0 15px 5px 15px; font-family: 'Raleway';" href="/subjects/{{ course.subject.abbreviation }}/courses/{{ course.number }}/become_tutor_for_course/">Become a Tutor for this Course</a>
              </div>
              <h5 style="padding:5px 0 0 0; font-family: 'Raleway';">Professors</h5>
              <table>
                  <tr>
                      <th style="padding:0 15px 0 15px;">Name</th>
                      <th style="padding:0 15px 0 15px;">Email</th>
                      <th style="padding:0 15px 0 15px;">Office Hours</th>
                  </tr>
                  {% for professor in professors %}
                  <tr>
                      <td style="padding:0 15px 5px 15px;"><a href="/subjects/{{ course.subject.abbreviation }}/courses/{{ course.number }}/professors/{{ professor.professor.pk }}">{{ professor.professor.name }}</a></td>
                      <td style="padding:0 15px 5px 15px;">{{ professor.professor.email }}</td>
                      <td style="padding:0 15px 5px 15px;">{{ professor.professor.office_hours }} in {{ professor.professor.office }}</td>
                  </tr>
                  {% endfor %}
              </table>
            
              <h5 style="padding:5px 0 0 0; font-family: 'Raleway';">Teaching Assistants</h5>
              <table>
                  <tr>
                      <th style="padding:0 15px 0 15px;">Name</th>
                      <th style="padding:0 15px 0 15px;">Email</th>
                      <th style="padding:0 15px 0 15px;">Office Hours</th>
                  </tr>
                  {% for teaching_assistant in teaching_assistants %}
                  <tr>
                      <td style="padding:0 15px 5px 15px;">{{ teaching_assistant.teaching_assistant.name }}</td>
                      <td style="padding:0 15px 5px 15px;">{{ teaching_assistant.teaching_assistant.email }}</td>
                      <td style="padding:0 15px 5px 15px;">{{ teaching_assistant.teaching_assistant.office_hours }} in {{ teaching_assistant.teaching_assistant.office }}</td>
                  </tr>
                  {% endfor %}
              </table>
              <div style="border: 10px; margin-top: 20px;">
                <a style="padding:0 15px 5px 15px; font-family: 'Raleway';" href onclick="window.open('https://www.google.com/#q={{course.subject.abbreviation }}+{{ course.number }}+{{ course.title }}+purdue')">Find Course Page</a>
              </div>
              <div style="border: 10px; margin-top: 0px;">
                <a style="padding:0 15px 5px 15px; font-family: 'Raleway';" href="#">View User-Submitted Info</a>
              </div>
              <div style="border: 10px; margin-top: 0px;" >
                <a style="padding:0 15px 5px 15px; font-family: 'Raleway';" href="#">Contribute Information to {{ course.subject.abbreviation }}{{ course.number }} </a>
              </div>
          </div>
        </div>
    </div>
  </div>
</body>