<table>
    <tr>
        <th>Subject</th>
        <th>Course Number</th>
        <th>Course Title</th>
        <th>Course Page</th>
    </tr>
    {% for course in courses %}
        <tr>
            <td>{{ course.subject.name }}</td>
            <td>{{ course.number }}</td>
            <td>{{ course.title }}</td>
            <td><a href="/subjects/{{ course.subject.abbreviation }}/courses/{{ course.number }}/">{{ course.subject.abbreviation }}{{ course.number }}</a></td>
        </tr>
    {% endfor %}   
</table>

