<!DOCTYPE HTML>
<head>
  <title>eduya</title>
  <meta charset="utf-8" />
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway|Montserrat|Work Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/4.0.2/bootstrap-material-design.css" rel="stylesheet">
</head>
<body>
  <div class="vert-center">
    <div class="panel panel-primary" style="width: 60%; border: 0;">
        <div class="panel-heading" style="padding-top: 50px;">
          <h3 style="font-family: 'Raleway', sans-serif;">{{course.subject.abbreviation }}{{ course.number }} : {{ course.title }}</h3>
        </div>
        <div class="panel-body">
          <div style="float: left; width: 50%;">
            <p> Course Sections: 
              <table>
                  <tr>
                      <th>CRN</th>
                      <th>Type</th>
                      <th>Meetings</th>
                  </tr>
                  {% for section in course_sections %}
                  <tr>
                      <td>{{ section.crn }}</td>
                      <td>{{ section.section_type }}</td>
                      <td>{{ section.meetings.DaysOfWeek }} at {{ section.meetings.Location }}</td>
                  </tr>
                  {% endfor %}
              </table>
            </p>
            <p> Tutors for this Course: 3</p>
            <div>
              <a href="">View Tutors Available for this Course</a>
              <br />
              <a href="">Become a Tutor for this Course</a>
            </div>
          </div>
          <div style="float: left; width: 50%;">
            <h4 id="review-header">Course Info</h4>
            <h5>Professors:</h5>
            <h5>Teaching Assistants:</h5>
            <h5>SI Sessions:</h5>
          </div>
        </div>
    </div>
  </div>
</body>