/* Main CSS */

body {
    /*background: linear-gradient(rgba(20, 26, 91, 0.6), rgba(20, 26, 91, 0.6)),
                rgba(20, 26, 91, 0.6) url("pattern.png") no-repeat center;*/
    background: url("pattern.png");
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    text-rendering: optimizeLegibility;
    margin: 0;
    height: 100%;
    padding-top: 70px; 
}

/* Navbar CSS */

.navbar-default .navbar-nav > li >a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

#logo {
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    margin: 1px;
    /*border: 1px solid white;*/
}

/* Cards CSS */

.card {
    width: 31%;
    height: 250px;
    margin-right: 2%;
    padding: 0;
    border: none;
    background: white;
    margin-bottom: 20px;
}

.card-content {
    padding: 5%;
}

.card-content > p {
    color: #444;
}

.card-heading {
    background-color: #F6A623;
    padding: 5%;
}

.card-heading > a {
    color: white;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
}

/* Body CSS */

.vert-center {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.pane {
  padding: 2% 5%;
  margin: auto;
  width: 30%;
  overflow: hidden;
  background-color: #fff;
  opacity: .8;
  text-align: center;
  box-shadow: 10px 10px 50px #303030;
  overflow:visible;
}

.panel-body {
    font-family: 'Raleway', sans-serif;
    color:  #505050;    
}